<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>FilterRole</filter-name>
        <filter-class>filter.FilterRole</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterRole</filter-name>
        <url-pattern>/customerlist</url-pattern>
        <url-pattern>/userlist</url-pattern>
        <url-pattern>/userdetails</url-pattern>
        <url-pattern>/orderlist</url-pattern>
        <url-pattern>/sliderDetails</url-pattern>
        <url-pattern>/postlist</url-pattern>
        <url-pattern>/postdetail</url-pattern>
        <url-pattern>/productDetails</url-pattern>
        <url-pattern>/feedbacksList</url-pattern>
        <url-pattern>/setting</url-pattern>
        <url-pattern>/orderDetailsSale</url-pattern>
        <url-pattern>/dash</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/marketing</url-pattern>
        <url-pattern>/sale</url-pattern>
        <url-pattern>/proformarketing</url-pattern>
        <url-pattern>/SliderList</url-pattern>
        <url-pattern>/settingsList</url-pattern>
        <url-pattern>/editproductbymarketing</url-pattern>
        <url-pattern>/image</url-pattern>
        <url-pattern>/addUser</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.common.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>controller.marketing.CustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.common.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.marketing.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginByAccountServlet</servlet-name>
        <servlet-class>controller.LoginByAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <servlet-class>controller.marketing.ViewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListMarketingServlet</servlet-name>
        <servlet-class>controller.ProductListMarketingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditByMarketingServlet</servlet-name>
        <servlet-class>controller.marketing.EditByMarketingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductMarketingServlet</servlet-name>
        <servlet-class>controller.AddProductMarketingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductMarketingServlet</servlet-name>
        <servlet-class>controller.DeleteProductMarketingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.common.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmController</servlet-name>
        <servlet-class>ConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListServlet</servlet-name>
        <servlet-class>controller.marketing.PostListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListServlet</servlet-name>
        <servlet-class>controller.marketing.SliderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsListServlet</servlet-name>
        <servlet-class>controller.admin.SettingsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusBlogServlet</servlet-name>
        <servlet-class>controller.marketing.ChangeStatusBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailForSaleServlet</servlet-name>
        <servlet-class>controller.OrderDetailForSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogMarketingServlet</servlet-name>
        <servlet-class>controller.marketing.EditBlogMarketingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductImageServlet</servlet-name>
        <servlet-class>controller.marketing.EditProductImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailServlet</servlet-name>
        <servlet-class>controller.marketing.SliderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <servlet-class>controller.marketing.PostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListMarketingServlet</servlet-name>
        <servlet-class>controller.marketing.FeedbackListMarketingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderServlet</servlet-name>
        <servlet-class>controller.common.MyOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginByAccountServlet</servlet-name>
        <url-pattern>/byaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <url-pattern>/viewcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/BlogListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListMarketingServlet</servlet-name>
        <url-pattern>/proformarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditByMarketingServlet</servlet-name>
        <url-pattern>/editproductbymarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductMarketingServlet</servlet-name>
        <url-pattern>/addbymarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductMarketingServlet</servlet-name>
        <url-pattern>/deletebymarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmController</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListServlet</servlet-name>
        <url-pattern>/postlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListServlet</servlet-name>
        <url-pattern>/SliderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsListServlet</servlet-name>
        <url-pattern>/settingsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusBlogServlet</servlet-name>
        <url-pattern>/changestatusblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailForSaleServlet</servlet-name>
        <url-pattern>/orderdetailforsale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogMarketingServlet</servlet-name>
        <url-pattern>/editblogbymarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailServlet</servlet-name>
        <url-pattern>/sliderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/postdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListMarketingServlet</servlet-name>
        <url-pattern>/feedbacklistformarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderServlet</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
</web-app>
