*{
    
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
}

.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #c8c6c6;
    border-radius: 3px;
    width: 440px;
    height: 480px;
    padding: 30px;
    margin-bottom: 100px;
}

.login-header{
    text-align: center;
    margin: 20px 0 50px 0;
}

.gg a{
    color:#fff;
    padding: 0 30px;
}

.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.login-google{
    display: flex;
    justify-content: center;
}

.gg{
    background: #333;
    width: 60%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 12px;
    
}

.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.05);
    outline: none;
    transition: .3s;

}

::placeholder{
    font-weight: 500;
    color: #222;
}



.input-field:focus{
    width: 105%;
}

.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check{
    margin-right: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section a{
    color: #555;
}

.input-submit{
    position: relative;
}

.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;    

}

.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}

.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 2px;
}

.sign-up-link a{
    color:#000;
    font-weight: 600;
}